# ASSIGNEMENT 7_SyntheticData

## MATRIX MASTERS
### Pavan Venkata Vijaya Ajith Varma Datla
### Venkata Dharma Teja Konakanchi
### Shyam Prasad Nalasani
### Sai Chowdary Penikalapati
### Manikanta Yashwanth
### Sunil Porida

## Let's start by importing the libraries we will need.

In [10]:
from sklearn.datasets import make_classification
import pandas as pd

## Creating a Synthetic Dataset

In [11]:
# Create a synthetic dataset
X, y = make_classification(n_samples=1000, n_features=5, n_informative=3, n_redundant=2, n_classes=3, random_state=42)

# Create a Pandas DataFrame
data = pd.DataFrame(data=X, columns=['feature1', 'feature2', 'feature3', 'feature4', 'feature5'])
data['target'] = y

In [12]:
data

     feature1  feature2  feature3  feature4  feature5  target
0    1.555730  0.628147 -0.567278 -2.548786 -1.575909       2
1   -3.194052  1.395636  3.033943 -0.280255 -2.172309       1
2   -0.329064 -0.461760 -1.183120  1.436410 -1.228790       0
3   -0.706467  0.648464  0.842007 -0.746024 -1.300526       1
4    0.543973 -0.595228 -1.202407  0.872089  0.185406       0
..        ...       ...       ...       ...       ...     ...
995  1.988782 -0.486354 -1.976167 -0.538039 -0.149938       2
996 -1.312794  0.714122  1.131945 -0.359647 -1.616572       1
997  1.207255  0.396648  0.093145 -1.914773  0.195360       1
998  1.018303 -0.730303 -1.842049  0.814984 -0.133006       1
999 -0.376029 -0.627767 -0.777573  1.713800  0.131273       0

[1000 rows x 6 columns]

## Saving Synthetic data to csv file

In [13]:
syntheticDataFilePath = r'C:\Users\91970\Downloads\DM\Week9\Assign\synthetic_classification_data.csv'
data.to_csv(syntheticDataFilePath, index=False)

#### Next we will use SKLearn pipelines to  process this synthetic data and fit to Neural Network, XGBoost, and RandomForest in the "Assignment7_Model_fitting" file.