In [1]:
import pandas as pd
from random import randint
import numpy as np
import random

from sklearn.datasets import make_classification

np.random.seed(42)

In [2]:
n_features = 4
X, y = make_classification(
    n_samples=100,  # number of samples
    n_features=n_features,   # number of features
    n_classes=2,    # number of classes 
)

columns = [f"feature{i+1}" for i in range(n_features)]

df = pd.concat([pd.DataFrame(X, columns=columns), 
                pd.Series(y, name='target')], axis=1)

print(df.shape)
df.head()

(100, 5)

   feature1  feature2  feature3  feature4  target
0 -1.053839 -1.027544 -0.329294  0.826007       1
1  1.569317  1.306542 -0.239385 -0.331376       0
2 -0.358856 -0.691021 -1.225329  1.652145       1
3 -0.136856  0.460938  1.896911 -2.281386       0
4 -0.048629  0.502301  1.778730 -2.171053       0

In [3]:
df['feature1'] = df['feature1'].apply(lambda x: round(x*100+500, 2)) # std 100, mean 500
df['feature2'] = df['feature2'].apply(lambda x: 'red' if x >0.5 else ('blue' if x < -0.5 else 'green'))
df['feature3'] = df['feature3'].apply(lambda x: round(x*-50-20, 3)) # std 50, mean -20
df['feature4'] = df['feature4'].apply(lambda x: round(x*10+5, 0)) # std 10, mean 5
df['target'] = df['target'].apply(lambda x: 'sale' if x==1 else 'no-sale')
df['target'] = df['target'].apply(lambda x: 'sale' if randint(0,5)==0  else x) # this will add a bit more 'noise' to the data

In [4]:
# randomly misspell from on the instances of red with Red
df['feature2'] = df['feature2'].apply(lambda x: 'Red' if (x=='red' and randint(0,1) == 0) else x)

# Randomly replace 10% of the values in each column with NaN
for col in df.columns:
    df.loc[df.sample(frac=0.1).index, col] = np.nan

In [5]:
df.to_csv('./data/data-classification.csv', index=False)